[Unit]
Description=Timesheet Management App

[Service]
Type=simple
User=elixirpractice
Group=elixirpractice
Restart=on-failure
Environment=MIX_ENV=prod "PORT=5001"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/elixirpractice/CS5610_HW7/
ExecStart=/bin/bash /home/elixirpractice/CS5610_HW7/start.sh

[Install]
WantedBy=multi-user.target
